<ul>
    <p>hello</p>
    {{#each beers}} // beer table
    <li>
        <p>beerName: {{this.beerName}}</p>
        <p>breweryName: {{this.breweryName}}</p>
        <p>beerStyle: {{this.beerStyle}}</p>
        <p>abv: {{this.abv}}</p>
        <p>location: {{this.location}}</p>
        <p>notes: {{this.notes}}</p>
        <p>score: {{this.score}}</p>
    </li>
    {{/each}}
</ul>